
body {
   margin: 0;
   padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
	line-height: 26px;
   color: #000000;
   text-transform: uppercase;
   font-style: normal;
   font-weight: 400;
}
 a {
   text-decoration: none;
 }

img { 
   max-width: 100%; 
   height: auto;
}

 .menu {
   font-size: 14px;
	line-height: 26px;
   color: #000000;
   font-weight: 700;
   background-color: #ffffff;
   list-style: none;
   width: 1200px;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
 }

.menu-logo {
   margin: 0;
   padding: 0;
   order: 3;
   width: 140px;
}

.menu {
   margin: 0;
   padding: 0;
   align-items: center;
}

.menu a {
   color: #000000;
}
  
.menu a:hover {
   color: #81b3d2;
}
.menu a:focus {
   color: #b2b2b2;
}

.menu a:active {
   color: #766357;
}

.promo {
   background-image: url("../img/sedona-promo.jpg"), 
   url("../img/white rectangle.png");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-color: #f2f2f2;
   background-size: 1200px 780px;

}

.promo img {
   margin-top: 60px;
   margin-bottom: 83px;
   margin-left: 471px;
}

.descr {
   font-size: 21px;
   line-height: 26px;
   color: #000000;
   font-weight: 400;
   background-color: #ffffff;
   text-align: center; 
   width: 1200px;
     
}

 .descr p {
   font-size: 14px;
   line-height: 26px;
   background-color: #ffffff;
   text-align: center; 
   margin: 0;
   padding: 0;
   margin-top: 38px;
   margin-bottom: 56px;
 }  

.reson-list  {
   list-style: none;
}    
 
.container-reson-item {
   font-size: 14px;
   line-height: 21px;
   color: #333333;
   background-color: #eeeeee;
   text-align: center;
   width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.reson-item-3,
.reson-item-4,
.reson-item-5 {
   width: 400px;
   padding: 0;
   margin: 0;
   margin-bottom: 32px;
}

.reson-item-3 h3,
.reson-item-4 h3,
.reson-item-5 h3 {
   font-size: 21px;
   line-height: 21px;
   background-color: #eeeeee;
	color: #000000;
   text-align: center;
   margin: 0;
   padding: 0 120px;
   margin-top: 47px;
   margin-bottom: 25px;
}

.reson-item-3 p {
 padding: 0 90px;
 margin-bottom: 25px;
}

.reson-item-4 p,
.reson-item-5 p {
 padding: 0 60px;
 margin-bottom: 25px;
}

.reson-item-1 {
   width: 1200px;
   height: 256px;
   display: flex;
   justify-content: space-between;
} 

.reson-item-2 {
   width: 1200px;
   height: 256px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   margin-top: 88px;
}

.reson-descr-1,
.reson-descr-2 {
   color: #ffffff;
   text-align: center;
   background-color: #81b3d2;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
   margin: 0;
   padding: 0;
}

.reson-descr-1 h3,
.reson-descr-2 h3 {
   font-size: 21px;
   line-height: 21px;
   color: #ffffff;
   text-align: center;
   background-color: #81b3d2;
   align-items: center;
   margin: 0;
   padding: 0;
   margin-top: 45px;

}

.reson-descr-1 h3 {
   padding: 0 124px;
}

.reson-descr-2 h3 {
   width: ;
   padding: 0 124px;
}

.reson-descr-1 p {
   align-items: center;
   margin: 0;
   padding: 0 49px;
   margin-top: 20px;
}

.reson-descr-2 p {
   align-items: center;
   margin: 0;
   padding: 0 45px;
   margin-top: 20px;
}

.reson-adv {
   background-color: #ffffff;
   width: 1200px;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

 .adv-item-1,
 .adv-item-2,
 .adv-item-3 {
   font-size: 14px;
   line-height: 21px;
   color: #333333;
   text-align: center;
   width: 400px;
   margin: 0;
 }
 

 .adv-item-1 h3,
 .adv-item-2 h3,
 .adv-item-3 h3 {
   font-size: 21px;
   line-height: 21px;
   color: #000000;
   background-color: #ffffff;
   text-align: center;
   margin-top: 120px;
   margin-bottom: 30px;
 }

 .adv-item-1 p,
 .adv-item-2 p {
    margin: 0 50px;
 }

 .adv-item-1 {
   background-image: url("../img/icon-1.svg");
   background-repeat: no-repeat;
   margin-top: 60px;
   position: relative;
 }


 .adv-item-2 {
   background-image: url("../img/icon-2.svg");
   background-repeat: no-repeat;
   margin-top: 60px;

 }

 .adv-item-3 {
   background-image: url("../img/icon-3.svg");
   background-repeat: no-repeat;
   margin-top: 60px;
 }


.form-intro {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 58px;
}

.form-intro p {
   font-size: 14px;
   line-height: 24px;
   text-align: center;
   color: #333333;
   background-color: #ffffff;
   margin: 0;
   padding: 0;
   margin-top: 35px;
}

.button-search {
   font: inherit;
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   text-align: center;
   background-color: #766357;
   color: #ffffff;
   border: none;
   margin-top: 53px;
}

.button-search:focus {
	background-color: #766357;
} 

.button-search:hover {
   background-color: #604e43;
 }

.button-search:active {
	background-color: #503e33;
	color: #857871;
}

label {
   font-size: 14px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;
   text-align: left;
}
  
.check-in {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
}
.check-in:hover {
   background-color: #ebebeb;
}
.check-in:focus {
   background-color: #ffffff;
}

.check-out {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
 }
 .check-out:hover {
   background-color: #ebebeb;
 }
 .check-out:focus {
   background-color: #ffffff;
 }
 
 .adults {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
 }
 .adults:hover {
   background-color: #ebebeb;
 }
 .adults:focus {
   background-color: #ffffff;
}

 .children {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
 }
 .children:hover {
   background-color: #ebebeb;
 }
 .children:focus {
   background-color: #ffffff;
 }    

 .button-submit {
   font: inherit;
   font-size: 21px;
   line-height: 100%;
   font-weight: 700;
   text-align: center;
   background-color: #81b3d2;
   color: #ffffff;
   border: none;
   text-transform: uppercase;
 }
 
 .button-submit:focus {
   background-color: #81b3d2;
 }
 
 .button-submit:hover {
   background-color: #669ec0;
 } 
 
 .button-submit:active {
   background-color: #5496bd;
   color: #85b0cd;
 }

 .main-footer {
   width: 1200px;
   margin: 0;
   padding: 0;
   margin-top: 36px;
   margin-bottom: 23px;
   display: flex;
   justify-content: space-around;
 }


 .footer-info {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   background-color: #fdfdfd;
   color: #000000;
   margin: 0;
   padding: 0;
 }  
 .footer-info p {
   margin: 0;
   padding: 0;
 }

 .footer-social {
   list-style: none;
   background-color: #f9fbf6;
   width: 150px;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
 }

 .social-twit,
 .social-fb,
 .social-yb {
   width: 46px;
   height: 48px;
   background-color: #81b3d2;
 }

 .social-twit:hover,
 .social-fb:hover,
 .social-yb:hover {
   background-color: #669ec0;
 } 

 .social-twit:active,
 .social-fb:active,
 .social-yb:active {
   background-color: #5496bd;
   opacity: 0,3; 
 } 

 .social-twit {
   background-image: url("../img/twitter.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
 }

 .social-fb {
   background-image: url("../img/fb-icon.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
 }

 .social-yb {
   background-image: url("../img/youtube.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
 }


 .footer-logo-htmlacademy {
   background-color: #fdfdfd;
   width: 197px;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
 }

 .footer-logo-htmlacademy img {
   position: relative;
 }

 .footer-logo-htmlacademy p {
   margin: 0;
   padding: 0;
   vertical-align: middle;
 }

.container_catalog {
   background-image: url("../img/filter background.jpg");
   background-repeat: no-repeat;
   background-position: top center;
   background-color: #f2f2f2; 
   background-size: 1200px 275px;
   background-size: cover;
} 

.checkbox,
.checkbox-house {
   list-style: none;
   font-size: 16px;
   line-height: 21px;
   font-weight: 700;
   color: #ffffff;
   border: none;
}

.checkbox label,
.checkbox-parking label,
.checkbox-wi-fi label {
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #ffffff;
}

.checkbox input,
.checkbox-parking input,
.checkbox-wi-fi input {
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #ffffff;
   border: 1px solid #ffffff;
}

.cost {
   list-style: none;
   font-size: 16px;
   line-height: 21px;
   font-weight: 700;
   color: #ffffff;
   border: none;
}

.button-cost {
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   text-align: center;
   background-color: rgba(r, g, b, a);
   color: #ffffff;
   border: 1px solid #f7f6f6;
}


.button-search:focus {
	background-color: #766357;
} 

.button-search:hover {
   background-color: #604e43;
 }

.button-search:active {
	background-color: #503e33;
	color: #857871;
}

.search-result {
   width: 1200px;
   margin-top: 35px;
   display: flex; 
   justify-content: space-between;
}

.search-result h3 {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;
   margin-left: 73px;
   margin-top: 35px;
}

.search-result p {
   font-size: 12px;
   line-height: 18px;
   font-weight: 400;
   color: #000000;
   margin-top: 35px;
}

.arrow {
   list-style: none;
   width: 36px;
   height: 12;
   margin: 0;
   padding: 0;
   margin-right: 73px;
   margin-top: 35px;
   display: flex;
   justify-content: space-between;
}

.arrow-up {
   background-image: url("../img/icon-up-dir.svg");
   background-repeat: no-repeat;
   width: 12px;
   height: 10px;
}

.arrow-bottom {
   background-image: url("../img/icon-down-dir.svg");
   background-repeat: no-repeat;
   width: 12px;
   height: 10px;
}

.arrow-up a,
.arrow-bottom a {
   color: #cacaca;
}

.arrow-up a:hover,
.arrow-bottom a:hover {
   color: #231f20;
 }

 .arrow-up a:active,
 .arrow-bottom a:active {
   color: #81b3d2;
}


.search-item {
   font-size: 12px;
   line-height: 18px;
   font-weight: 400;
   color: #000000;
   list-style: none;
   width: 667px;
   margin-top: 42px;
   display: flex;
justify-content: flex-start;
}


.price a {
   color: #81b3d2;
}

.price a:hover {
   color: #81b3d2;
 }

 .price a:active {
   color: #000000;
}

.type a {
   color: #b2b2b2;
   text-decoration: underline dotted;
}

.type a:hover {
   color: #81b3d2;
 }

 .type a:active {
   color: #000000;
}

.rating a {
   color: #b2b2b2;
   text-decoration: underline dotted;
}

.rating a:hover {
   color: #81b3d2;
 }

 .rating a:active {
   color: #000000;
}

.container {
   list-style: none;
   height: auto;
   width: 1200px;
   display: flex; 
   justify-content: space-between;
   margin-top: 30px;
   margin: 0;
   padding: 0;
 }


.container-img {
   margin-top: 30px;
   margin-left: 73px;
}

.container-item {
   width: 780px;
   margin-left: 30px;
}

.search-descr {
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #333333; 
   width: 259px;
}

.search-descr h3 {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;
}

.search-descr h3:focus {
	color: #000000;
} 

.search-descr h3:hover {
   color: #81b3d2;
 }

.search-descr h3:active {
	color: #b2b2b2;
}


.detail a {
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight: 700;
   text-align: center;
   background-color: #81b3d2;
   color: #ffffff;
   border: none;

}

.detail a:focus {
	background-color: #81b3d2;
} 

.detail a:hover {
   background-color: #669ec0;
 }

.detail a:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.booking a {
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight: 700;
   text-align: center;
   background-color: #766357;
   color: #ffffff;
   border: none;
}

.booking a:focus {
	background-color: #766357;
} 

.booking a:hover {
   background-color: #604e43;
 }

.booking a:active {
	background-color: #503e33;
	color: #857871;
}

.search-rating {
  background-image: url("../img/star.svg");
  background-repeat: repeat;
  margin-right: 73px;
}