body {
   margin: 0;
   padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
	line-height: 26px;
   color: #000000;
   text-transform: uppercase;
   font-style: normal;
   font-weight: 400;
   box-sizing: content-box;
}
 a {
   text-decoration: none;
 }
img { 
   max-width: 100%; 
}

 .menu {
   font-size: 14px;
	line-height: 26px;
   color: #000000;
   font-weight: 700;
   background-color: #ffffff;
   list-style: none;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 1200px;
   min-height: 56px;
   margin-top: 0;
   margin-bottom: 0;
   justify-content: space-between;
}

.menu-logo {
   order: 3;
   width: 140px;
   min-height: 70px;
   margin-top: 0;
}

.menu a {
   color: #000000;
}
  
.menu a:hover {
   color: #81b3d2;
}
.menu a:focus {
   color: #b2b2b2;
}

.menu a:active {
   color: #766357;
}

.promo {
   display: flex;
   background-image: url("../img/sedona-promo.jpg");
   background-repeat: no-repeat;
   background-position: top center;
   background-color: #f2f2f2;
   background-size: 1200px 780px;
}

.promo img {
   align-items: center;
   margin-top: 76px;
   margin-bottom: 79px;
}

.descr {
   font-size: 21px;
   line-height: 26px;
   color: #000000;
   font-weight: 400;
   background-color: #ffffff;
   text-align: center; 
   width: 1200px;
   min-height: 217px;          
}

 .descr p {
   font-size: 14px;
   line-height: 26px;
   background-color: #ffffff;
   text-align: center; 
   margin-top: 38px;
   margin-bottom: 56px;
 }  

.reson-list,
.reson-adv {
   list-style: none;
}    
 
.container-reson-item {
   font-size: 14px;
   line-height: 21px;
   color: #333333;
   background-color: #eeeeee;
   text-align: center;
   width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.reson-item {
   width: 400px;
   margin-top: 50px;
   padding: 0;
}

.reson-item h3 {
   font-size: 21px;
   line-height: 21px;
   background-color: #eeeeee;
	color: #000000;
   text-align: center;
}

.reson-item-1 {
   width: 1200px;
   height: 256px;
   display: flex;
   justify-content: space-between;
} 

.reson-item-2 {
   width: 1200px;
   height: 256px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   margin-top: 88px;
}
.reson-descr {
   color: #ffffff;
   text-align: center;
   background-color: #81b3d2;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
}

.reson-descr h3 {
   font-size: 21px;
   line-height: 21px;
   color: #ffffff;
   text-align: center;
   background-color: #81b3d2;
   align-items: center;
   margin-top: 50px;
   width: 152px; 
}

.reson-descr p {
   align-items: center;
   width: 305px;
   margin-top: 29px;
   margin: 0;
}

.reson-adv {
   background-color: #ffffff;
   width: 1200px;
   margin-top: 60px;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

 .adv-item-1,
 .adv-item-2,
 .adv-item-3 {
   font-size: 14px;
   line-height: 21px;
   color: #333333;
   text-align: center;
   width: 400px;
   margin-top: 60px;
 }
 

 .adv-item-1 h3,
 .adv-item-2 h3,
 .adv-item-3 h3 {
   font-size: 21px;
   line-height: 21px;
   color: #000000;
   background-color: #ffffff;
   text-align: center;
   margin-top: 29px;
   margin-bottom: 32px;
 }



.form-intro {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin-top: 58px;
}

.form-intro p {
   font-size: 14px;
   line-height: 24px;
   text-align: center;
   color: #333333;
   background-color: #ffffff;
}

.button-search {
   font: inherit;
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   text-align: center;
   background-color: #766357;
   color: #ffffff;
   border: none;
   margin-top: 53px;
}

.button-search:focus {
	background-color: #766357;
} 

.button-search:hover {
   background-color: #604e43;
 }

.button-search:active {
	background-color: #503e33;
	color: #857871;
}

label {
   font-size: 14px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;
   text-align: left;
}
  
.check-in {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
}
.check-in:hover {
   background-color: #ebebeb;
}
.check-in:focus {
   background-color: #ffffff;
}

.check-out {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
 }
 .check-out:hover {
   background-color: #ebebeb;
 }
 .check-out:focus {
   background-color: #ffffff;
 }
 
 .adults {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
 }
 .adults:hover {
   background-color: #ebebeb;
 }
 .adults:focus {
   background-color: #ffffff;
}

 .children {
   font: inherit;
   font-size: 14px;
   line-height: 100%;
   font-weight: 700;
   color: #000000;
   background-color: #f2f2f2;
   border: 1px solid #e5e5e5;
 }
 .children:hover {
   background-color: #ebebeb;
 }
 .children:focus {
   background-color: #ffffff;
 }    

 .button-submit {
   font: inherit;
   font-size: 21px;
   line-height: 100%;
   font-weight: 700;
   text-align: center;
   background-color: #81b3d2;
   color: #ffffff;
   border: none;
   text-transform: uppercase;
 }
 
 .button-submit:focus {
   background-color: #81b3d2;
 }
 
 .button-submit:hover {
   background-color: #669ec0;
 } 
 
 .button-submit:active {
   background-color: #5496bd;
   color: #85b0cd;
 }

 .main-footer {
    margin-top: 36px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
 }

 .footer-info {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   background-color: #fdfdfd;
   color: #000000;
   margin-top: 36px;

 }  

 .footer-social {
   list-style: none;
   text-align: center;
   background-color: #fdfdfd;
   width: 150px;
   margin-top: 36px;
   display: flex;
   justify-content: space-between;
 }

 .footer-logo-htmlacademy {
   background-color: #fdfdfd;
   text-align: right;
   width: 197px;
   margin-top: 36px;
   display: flex;
   justify-content: space-between;
 }


.container_catalog {
   background-image: url("../img/filter background.jpg");
   background-repeat: no-repeat;
   background-position: top center;
   background-color: #f2f2f2; 
   background-size: 1200px 275px;
   background-size: cover;
} 

.checkbox,
.checkbox-house {
   list-style: none;
   font-size: 16px;
   line-height: 21px;
   font-weight: 700;
   color: #ffffff;
   border: none;
}

.checkbox label,
.checkbox-parking label,
.checkbox-wi-fi label {
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #ffffff;
}

.checkbox input,
.checkbox-parking input,
.checkbox-wi-fi input {
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #ffffff;
   border: 1px solid #ffffff;
}

.cost {
   list-style: none;
   font-size: 16px;
   line-height: 21px;
   font-weight: 700;
   color: #ffffff;
   border: none;
}

.button-cost {
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   text-align: center;
   background-color: rgba(r, g, b, a);
   color: #ffffff;
   border: 1px solid #f7f6f6;
}


.button-search:focus {
	background-color: #766357;
} 

.button-search:hover {
   background-color: #604e43;
 }

.button-search:active {
	background-color: #503e33;
	color: #857871;
}

.search-result {
   width: 1200px;
   margin-top: 35px;
   display: flex; 
   justify-content: space-between;
}
.search-result h3 {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;
   margin-left: 73px;
}

.search-result p {
   font-size: 12px;
   line-height: 18px;
   font-weight: 400;
   color: #000000;

}

.arrow {
   list-style: none;
   margin-right: 73px;
   margin-top: 35px;
   width: ;
}

.search-item {
   font-size: 12px;
   line-height: 18px;
   font-weight: 400;
   color: #000000;
   list-style: none;
   width: 667px;
   margin-top: 42px;
   display: flex;
}


.price a {
   color: #81b3d2;
}

.price a:hover {
   color: #81b3d2;
 }

 .price a:active {
   color: #000000;
}

.type a {
   color: #b2b2b2;
   text-decoration: underline dotted;
}

.type a:hover {
   color: #81b3d2;
 }

 .type a:active {
   color: #000000;
}

.rating a {
   color: #b2b2b2;
   text-decoration: underline dotted;
}

.rating a:hover {
   color: #81b3d2;
 }

 .rating a:active {
   color: #000000;
}

.container {
   list-style: none;
   height: auto;
   width: 1200px;
   display: flex; 
   justify-content: space-between;
   margin-top: 30px;
   margin: 0;
   padding: 0;
 }


.container-img {
   margin-top: 30px;
   margin-left: 73px;
}

.container-item {
   width: 780px;
   margin-left: 30px;
}

.search-descr {
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #333333; 
   width: 259px;
}

.search-descr h3 {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;
}

.search-descr h3:focus {
	color: #000000;
} 

.search-descr h3:hover {
   color: #81b3d2;
 }

.search-descr h3:active {
	color: #b2b2b2;
}


.detail a {
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight: 700;
   text-align: center;
   background-color: #81b3d2;
   color: #ffffff;
   border: none;

}

.detail a:focus {
	background-color: #81b3d2;
} 

.detail a:hover {
   background-color: #669ec0;
 }

.detail a:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.booking a {
   font: inherit;
   font-size: 14px;
   line-height: 21px;
   font-weight: 700;
   text-align: center;
   background-color: #766357;
   color: #ffffff;
   border: none;
}

.booking a:focus {
	background-color: #766357;
} 

.booking a:hover {
   background-color: #604e43;
 }

.booking a:active {
	background-color: #503e33;
	color: #857871;
}

.search-rating {
  margin-right: 73px;
}